<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        @@media (min-width: 480px) {
            a.dropdown-item.active {
                color: #525252 !important;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="overflow: visible;">
        <div class="container" style="overflow: visible;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="overflow: visible;">
                <ul class="nav navbar-nav" style="overflow: visible;">
                    <li class="dropdown" style="overflow: visible;">
                        <a class="dropdown-toggle" data-toggle="dropdown">Generate<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="menuitem">@Html.ActionLink("Empty", "Empty", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li role="menuitem">@Html.ActionLink("Full", "Full", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Non Trivial", "NonTrivial", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Investigation", "Investigation", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Visual Simulation", "VisualSimulation", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Our Database", "DB", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <div class="bottom-padding">

        </div>
        <footer>
            <p style="display: inline; float: left; height: 100%; padding-top: 10px;">&copy; @DateTime.Now.Year - Implemented by Eiran Danan</p>
            <img src="~/Content/ilovemath.jpg" style="height: 50px; width: auto; display: inline; float: right;" />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            let relativeUrl = $(location).attr('pathname');
            if (relativeUrl.includes("Help")) relativeUrl = "/Help";
            $(".navbar a[href='" + relativeUrl + "']").addClass("active");
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
